<s1-lottie
  [options]="lottieParams"
  [width]="500"
  [height]="500"
  [optimize]="runOutsideAngular"
  (enterFrame)="updateAnimationFrames($event)"
  (animationCreated)=onAnimationCreated($event)
  (loopComplete)="onLoopComplete($event)">
</s1-lottie>


<div class="action-panel">
  <div class="action" (click)="changeAnimation()">
    <fa-icon [icon]="icon"></fa-icon>
  </div>
</div>

<!-- limitation to indicate frames movement when runOutsideAngular === true -->
<!--<app-s1-slider *ngIf="currentFrame && !runOutsideAngular" [totalFrames]="totalFrames" [currentFrame]="currentFrame" (onSliderChange)="onSliderChange($event)"></app-s1-slider>-->
<!--<h1>{{loopCount}}</h1>-->
