:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section h2 {
  text-align: center;
}

.mid-section {

}

.top-section .action-panel {
  background: ivory;
  margin-top: -20px;
  width: 100%;
  display: flex;
  flex: 1;
  min-height: 50px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(140,148,168,.38);
  border: 1px solid #bcc2d0;
  transition: border-color .3s linear;
  position: relative;
  padding: 9px 0 11px;
  justify-content: center;
  align-self: center;
  box-sizing: border-box;
}

.top-section .action {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(126, 74, 172);
}

.top-section .example-h2 {
  margin: 10px;
}

.top-section .example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.top-section .example-margin {
  margin: 10px;
}

.top-section .mat-slider-horizontal {
  width: 300px;
}

.top-section .mat-slider-vertical {
  height: 300px;
}

.top-section h1 {
  text-align: center;
}

.web-anim {
  width: fit-content;
  height: 40px;
  padding: 10px;
  background: cadetblue;
}

.divider {
  height: 10px;
  border: 1px solid gray;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
