<s1-lottie
  [params]="lottieParams"
  [width]="500"
  [height]="500"
  [runOutsideAngular]="runOutsideAngular"
  (enterFrame)="updateAnimationFrames($event)"
  (animationCreated)=onAnimationCreated($event)>
</s1-lottie>


<div class="action-panel">
  <div class="action" (click)="togglePlay()">
    <fa-icon [icon]="icon"></fa-icon>
  </div>
</div>

<!-- limitation to indicate frames movement when runOutsideAngular === true -->
<app-s1-slider *ngIf="currentFrame && !runOutsideAngular" [totalFrames]="totalFrames" [currentFrame]="currentFrame"></app-s1-slider>
